In [1]:
import pandas as pd

df = pd.read_parquet("../data/processed/sapporo_density.parquet")
df.head(20)

    d  t   x    y  count
0   0  0  23  153     23
1   0  0  24  153     20
2   0  0  17  163      8
3   0  0  18  156      7
4   0  0  22  151      7
5   0  0  22  158      7
6   0  0  23  152      7
7   0  0  24  155      7
8   0  0  26  151      7
9   0  0  29  138      7
10  0  0  33  145      7
11  0  0  19  151      6
12  0  0  19  165      6
13  0  0  21  147      6
14  0  0  23  154      6
15  0  0  24  152      6
16  0  0  24  157      6
17  0  0  28  144      6
18  0  0  28  157      6
19  0  0  47   94      6